<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow w-full lg:max-w-290 px-5 sm:px-8 mx-auto" [ngClass]="{'pb-14' : mobile}">
      <h1 class="pb-6 text-center uppercase" [ngClass]="{'pt-28' : !mobile, 'pt-8': mobile}">
        Nuestros records
      </h1>
      <div *ngIf="outdoorRecords" class="w-full mb-8 rounded-3xl border border-solid dark:border-clear border-nightblue-100 p-4">
        <h2 (click)="openOutdoor = !openOutdoor" [ngClass]="{'pb-6': openOutdoor}" class="w-full flex justify-between items-center">
          Records de aire libre
          <ion-icon  class="transition duration-300 text-2xl" color="primary" [ngClass]="{'transform rotate-180': openOutdoor}" name="chevron-down-circle-outline"></ion-icon>
        </h2>  
        <div *ngIf="openOutdoor" class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div *ngFor="let record of outdoorRecords; let i = index;"  class="p-3 h-fit rounded-2xl border border-solid dark:border-clear border-nightblue-100 w-full">
            <app-club-records-card [record]="record"></app-club-records-card>
          </div>            
        </div>
        <p *ngIf="outdoorRecords.length == 0 && openOutdoor">
          Actualmente no existe ningún record de aire libre.
        </p>        
      </div>
      <div class="pt-4" *ngIf="indoorRecords" class="w-full mb-8 rounded-3xl border border-solid dark:border-clear border-nightblue-100 p-4">
        <h2 (click)="openIndoor = !openIndoor" [ngClass]="{'pb-6': openIndoor}" class="pb-6 w-full flex justify-between items-center">
          Records de sala
          <ion-icon  class="transition duration-300 text-2xl" color="primary" [ngClass]="{'transform rotate-180': openIndoor}" name="chevron-down-circle-outline"></ion-icon>
        </h2>
        <div *ngIf="openIndoor" class="grid grid-cols-1 md:grid-cols-2 gap-5">
          <div *ngFor="let record of indoorRecords; let i = index;"  class="p-3 h-fit rounded-xl border border-solid dark:border-clear border-nightblue-100 w-full">
            <app-club-records-card [record]="record"></app-club-records-card>
          </div>            
        </div>

        <p *ngIf="indoorRecords.length == 0 && openIndoor">
          Actualmente no existe ningún record de sala.
        </p>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>