<div class="mb-4 grid grid-cols-3">
    <div *ngFor="let arrow of arrowSet; let j=index;">
        <app-number [number]="arrow" [markAsEdit]="editActivatedColor[j]" (emitEdit)="numberClicked(j)"></app-number>
    </div>            
</div>
<div>

</div>

<app-select-point [modality]="modality" *ngIf="showSelectPoints" (emitNumber)="addNumber($event)"></app-select-point>
<app-select-point [modality]="modality" *ngIf="editActivated" (emitNumber)="updateNumber($event)"></app-select-point>

<ion-button *ngIf="showSelectPoints && !finishedSet && (writeIndex != 0 || arrowSet[5] == 'M')" 
            class="h-8 w-full mt-2" color="primary" (click)="undoArrow()" size="small">
    Deshacer
</ion-button>

<ion-button *ngIf="showSelectPoints && !finishedSet && writeIndex == 0 && arrowSet[5] != 'M'" 
            class="h-8 w-full mt-2" color="primary" (click)="showSelectPoints = false" size="small">
    Ocultar
</ion-button>