<footer *ngIf="!mobile" class="flex justify-center w-full items-center align-center text-center inverse-gradient">
  <div class="px-3.5 md:px-8 lg:px-32 w-full flex flex-col max-w-290 justify-center items-center">
    <div class="pt-2 pb-6 items-center justify-center flex">
      <img src="/assets/img/logo.png" alt="logo" class="h-10">
    </div>

    <div
      class="grid grid-cols-2 md:grid-cols-4 grid-row-14 md:grid-row-4 md:gap-24 place-items-center md:place-items-start w-full">

      <div class="h-full">
        <h5 class="text-center md:text-left text-clear">Descarga la App</h5>
        <div class="">
          <a href="/construccion">
            <img src="..\assets\img\appstore.svg" alt="appstore"
              style="width: 101px; height: 29px; margin-top: 8px; margin-right: 8px;"></a>
          <a href="/construccion">
            <img src="..\assets\img\googleplay.svg" alt="googleplay"
              style="width: 101px; height: 30px; margin-top: 8px;"></a>
        </div>
      </div>

      <div class="h-full">
        <div class="text-center md:text-left text-clear">Nuestras redes</div>
        <h6 class="text-petrol-5 text-sm flex  pt-2 text-center md:text-left text-nightblue-100">
          <ion-icon name="logo-instagram" color="clear" class="pr-2"></ion-icon>
          <a target="_blank" href="https://www.instagram.com/clubdeportivoseo/">Instagram</a>
        </h6>
        <h6 class="text-petrol-5 flex text-sm  pt-2 text-center md:text-left text-nightblue-100">
          <ion-icon name="logo-facebook" color="clear" class="pr-2"></ion-icon>
          <a target="_blank" href="https://www.facebook.com/ClubDeportivoSEO">Facebook</a>
        </h6>
      </div>

      <div>
        <h5 class="text-center md:text-left text-clear">Federaciones</h5>
        <h6 class="text-petrol-5 text-sm  pt-2 text-center md:text-left text-nightblue-100">
          <a target="_blank" href="https://www.fecta.org/">Federación Canaria</a>
        </h6>
        <h6 class="text-petrol-5 text-sm  pt-2 text-center md:text-left text-nightblue-100">
          <a target="_blank" href="https://www.federarco.es/">Federación Española</a>
        </h6>
      </div>

      <div>
        <h5 class="text-center md:text-left text-clear">Ayuda</h5>
        <h6 class="pt-2 text-center flex text-sm  md:text-left text-nightblue-100">
          <a href="mailto:info@seotiroconarco.com">Contacto</a>
        </h6>
        <h6 class="pt-2 text-center flex text-sm md:text-left text-nightblue-100">
          <a routerLink="/construccion">Preguntas frecuentes</a>
        </h6>
        <h6 class="pt-2 text-center text-sm md:text-left text-nightblue-100">
          <a routerLink="/construccion">Quejas y Sugerencias</a>
        </h6>
      </div>
    </div>

    <div class="py-2 text-xs">
      @JoelNR
    </div>
  </div>
</footer>