<div class="relative grid grid-cols-1 gap-4">
    <div *ngFor="let round of roundsArray; let i=index;">
        <h3 *ngIf="i == 1 ? showSecondRound : true" class="pt-2 text-center">
            {{i+1}}ª Ronda
        </h3>
        <app-see-round *ngIf="i == 1 ? showSecondRound : true" [archerId]="archerId" [roundModel]="round" [modality]="modality" [category]="category" (emitFinish)="showNewRound()" (emitRound)="emitTotal($event)"></app-see-round>
    </div>
    <ngx-ui-loader [bgsOpacity]="0" [hasProgressBar]="false" [loaderId]="'loader-score-component'+ archerId" fgsPosition="top-center" fgsColor="#ed7a3b" fgsType="fading-circle" overlayColor="transparent">
    </ngx-ui-loader>
</div>