<div class="text-center">
  <swiper class="" [loop]="true" [pagination]="true" [autoplay]="true">
    <ng-template swiperSlide><app-swiper-item 
      title="¿Quieres aprender a tirar con arco?" description="Ven y prueba sin ningún tipo de coste y para todas las edades" 
      imgSrc="/assets/img/iniciacion.jpeg" buttonLink="/iniciacion">
    </app-swiper-item></ng-template>
    <ng-template swiperSlide><app-swiper-item 
      title="¡Organizamos competiciones!" description="Revisa nuestras convocatorias para no perderte nada esta temporada" 
      imgSrc="/assets/img/competicion.jpeg" buttonLink="/competicion">
    </app-swiper-item></ng-template>
    <ng-template swiperSlide><app-swiper-item 
      title="¿Aún no tienes cuenta del club SEO?" description="Registrate para poder inscribirte en clases de iniciación o campeonatos" 
      imgSrc="/assets/img/perfil.jpeg" buttonLink="/registro">
    </app-swiper-item></ng-template>
    <ng-template swiperSlide><app-swiper-item 
      title="¡Tenemos una app!" description="Una vez te inscribas al club, tendrás acceso a todo nuestro contenido exclusivo" 
      imgSrc="/assets/img/flechas.jpeg" buttonLink="/app">
    </app-swiper-item></ng-template>
  </swiper>
</div>