<swiper [loop]="true" [pagination]="true" [autoplay]="true">
  <ng-template swiperSlide><app-swiper-item class="w-full"
    title="¿Quieres aprender a tirar con arco?" description="Ven y prueba sin ningún tipo de coste y desde los 7 años" 
    imgSrc="/assets/img/iniciacion.jpg" buttonLink="/iniciacion">
  </app-swiper-item></ng-template>
  <ng-template swiperSlide><app-swiper-item class="w-full"
    title="¡Organizamos competiciones!" description="Revisa nuestras convocatorias para no perderte nada esta temporada" 
    imgSrc="/assets/img/competicion.jpg" buttonLink="/competicion">
  </app-swiper-item></ng-template>
  <ng-template swiperSlide><app-swiper-item class="w-full"
    title="¿Aún no tienes cuenta del club SEO?" description="Registrate para poder inscribirte en clases de iniciación o campeonatos" 
    imgSrc="/assets/img/perfil.jpeg" buttonLink="/registro">
  </app-swiper-item></ng-template>
  <ng-template swiperSlide><app-swiper-item class="w-full"
    title="¡Tenemos una app!" description="Una vez te inscribas al club, tendrás acceso a todo nuestro contenido exclusivo" 
    imgSrc="/assets/img/app.jpg" buttonLink="/app">
  </app-swiper-item></ng-template>
</swiper>
