ion-popover {
    --backdrop-opacity: 0%;

}

.image::part(native) {
    @apply pr-1;
}

ion-button::part(native) {
    @apply pt-1 pb-1;
}

.button-menu {
    --padding-top: 9px;
    --padding-bottom: 9px;
    --padding-start: 12px;
    --padding-end: 12px;
    --border-radius: 50px;
    height: 38px;
    width: 90px;
}

.menu:hover {
    background-color: #ebedef;
}


ion-item::part(native) {
    --border-style: none;
}

ion-menu {
    --width: 100%;
    @apply fixed;
}

ion-toolbar {
    --min-height: 80px;
    @apply h-20;
}

ion-content {
    --width: 100%;
}

ion-menu::part(container) {
    @apply w-full;
}

@screen md {
    ion-menu::part(container) {
        width: 400px;
    }
}

header{
    border-color: black;
    @media (prefers-color-scheme: dark) {
        border-color: white;
        background-color: var(--clear);
    }
}