<header *ngIf="!mobile" class="w-full flex fixed top-0 z-10 justify-center items-center border-b border-solid bg-clear ">
  <div class="justify-center flex w-full lg:max-w-290 xl:max-w-7xl">
    <div class="py-2 flex items-center pl-5" [ngClass]="{'w-40 xl:w-44' : !userLogged}">
      <img src="/assets/img/logo.png" routerLink="/" alt="logo" class="h-10 cursor-pointer">
    </div>
    <div class=" text-base hidden lg:flex text-center justify-center items-center">
      <a *ngFor="let option of headerOptions" [routerLink]="option.link" class="px-5 items-center inline-flex">
        <ion-icon color="primary" [name]="option.icon"></ion-icon>
        <span class="pl-2" [ngClass]="{'text-orange-100': isActive(option.link)}">{{ option.label }}</span>
      </a>
    </div>
    <div class="flex lg:hidden justify-end items-center pr-4 md:pr-9">
      <ion-button (click)="openMenu()" id="main" color="primary" size="small" class="">
        <div class="flex items-center">
          <div class="justify-start pr-2">
            <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.5" y1="0.5" x2="12.5" y2="0.5" stroke="white" stroke-linecap="round"
                stroke-linejoin="round" />
              <line y1="4.5" x2="13" y2="4.5" stroke="white" />
              <line y1="8.5" x2="13" y2="8.5" stroke="white" />
            </svg>
          </div>
          Menú
        </div>
      </ion-button>

    <div class="justify-end items-center pr-5 hidden lg:flex">
      <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" animated="false" dismiss-on-select="true" mode="ios" arrow="true">
        <ng-template>
          <ion-content class="border border-solid border-nightblue-100 dark:border-clear">
            <div class="flex flex-col">
              <div *ngFor="let option of profileOptions" [routerLink]="option.link" class="px-5 py-2 flex items-center cursor-pointer">
                <ion-icon class="pr-2" color="primary" [name]="option.icon"></ion-icon>
                <span [ngClass]="{'text-orange-100': isActive(option.link)}">{{ option.label }}</span>
              </div>
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>
  </div>
</header>