<header *ngIf="mobile"
  class="flex justify-between w-full text-center items-center text-h4-m font-medium text-white pl-9 pr-5 md:px-12 pt-14 bg-petrol-100 fixed top-0 z-50 pb-2.5">
  <div class="flex justify-start w-1/5">
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M11.7071 6.09563C12.0976 6.48615 12.0976 7.11932 11.7071 7.50984L7.41421 11.8027H19C19.5523 11.8027 20 12.2504 20 12.8027C20 13.355 19.5523 13.8027 19 13.8027H7.41421L11.7071 18.0956C12.0976 18.4862 12.0976 19.1193 11.7071 19.5098C11.3166 19.9004 10.6834 19.9004 10.2929 19.5098L4.29289 13.5098C3.90237 13.1193 3.90237 12.4862 4.29289 12.0956L10.2929 6.09563C10.6834 5.7051 11.3166 5.7051 11.7071 6.09563Z"
        fill="white" />
    </svg>

    <h4 class="pl-2 items-center hidden md:flex">
      Atrás
    </h4>
  </div>
  <h4 class="flex justify-center w-3/5">
    {{headerLabel}}
  </h4>
  <div class="flex justify-end w-1/5">
    <h4 class="pr-2 items-center hidden md:flex">
      Cerrar
    </h4>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M5.41643 5.6989C5.80695 5.30837 6.44012 5.30837 6.83064 5.6989L12.1235 10.9918L17.4164 5.6989C17.807 5.30837 18.4401 5.30837 18.8306 5.6989C19.2212 6.08942 19.2212 6.72259 18.8306 7.11311L13.5377 12.406L18.8306 17.6989C19.2212 18.0894 19.2212 18.7226 18.8306 19.1131C18.4401 19.5036 17.807 19.5036 17.4164 19.1131L12.1235 13.8202L6.83064 19.1131C6.44012 19.5036 5.80695 19.5036 5.41643 19.1131C5.0259 18.7226 5.0259 18.0894 5.41643 17.6989L10.7093 12.406L5.41643 7.11311C5.0259 6.72259 5.0259 6.08942 5.41643 5.6989Z"
        fill="white" />
    </svg>
  </div>
</header>

<header *ngIf="!mobile"
  class="fixed top-0 z-50 w-full flex justify-center items-center border-b border-solid default-gradient">
  <div class="justify-between flex w-full lg:max-w-300">
    <div class="py-2 flex items-center pl-5">
      <img src="/assets/img/logo.gif" alt="logo" class="h-10">
    </div>
    <div class="text-white text-base hidden lg:flex text-center justify-center items-center">
      <a *ngFor="let option of headerOptions" [routerLink]="option.link" class="px-5 inline-flex" [ngClass]="{
      'text-aquamarin-80 nav-active': isActive(option.link),
      'text-violet-60 nav-active-violet': isActive(option.link),
      'text-white': !isActive(option.link)
      }">
        <span>{{ option.label }}</span>
      </a>
    </div>
    <div class="flex lg:hidden justify-end items-center pr-4 md:pr-9">
      <ion-button (click)="openMenu()" id="main" color="secondary" size="small" class="">
        <div class="flex items-center">
          <div class="justify-start pr-2">
            <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.5" y1="0.5" x2="12.5" y2="0.5" stroke="white" stroke-linecap="round"
                stroke-linejoin="round" />
              <line y1="4.5" x2="13" y2="4.5" stroke="white" />
              <line y1="8.5" x2="13" y2="8.5" stroke="white" />
            </svg>
          </div>
          Menú
        </div>
      </ion-button>

      <ion-menu id="slide" side="end" menuId="end" type="overlay" contentId="main" [swipeGesture]="false">
        <ion-header>
          <ion-toolbar class="ion-toolbar-petrol" [ngClass]="{'ion-toolbar-violet': isActive(headerOptions[1].link)}">
            <div class="flex justify-end items-end place-content-end pr-4 h-full">
              <ion-button (click)="closeMenu()" color="secondary" size="small" class="button-menu">
                <div class="flex items-center">
                  <div class="justify-start pr-2">
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.292893 0.417893C0.683417 0.0273689 1.31658 0.0273689 1.70711 0.417893L7 5.71079L12.2929 0.417893C12.6834 0.0273689 13.3166 0.0273689 13.7071 0.417893C14.0976 0.808417 14.0976 1.44158 13.7071 1.83211L8.41421 7.125L13.7071 12.4179C14.0976 12.8084 14.0976 13.4416 13.7071 13.8321C13.3166 14.2226 12.6834 14.2226 12.2929 13.8321L7 8.53921L1.70711 13.8321C1.31658 14.2226 0.683417 14.2226 0.292893 13.8321C-0.0976311 13.4416 -0.0976311 12.8084 0.292893 12.4179L5.58579 7.125L0.292893 1.83211C-0.0976311 1.44158 -0.0976311 0.808417 0.292893 0.417893Z"
                        fill="white" />
                    </svg>

                  </div>
                  Menü
                </div>
              </ion-button>
            </div>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list class="h4 py-0 cursor-pointer" [ngClass]="{'h4-web': !mobile}">
            <ion-item *ngFor="let option of headerOptions" class="text-petrol-100 px-5" (click)="navigate(option.link)"
              [ngClass]="{'text-violet-100': isActive(option.link)}">
              <div class="pl-5">
                {{option.label}}
              </div>
            </ion-item>
            <ion-item (click)="show()" class="text-petrol-100 px-5">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="transition duration-300" [ngClass]="{'transform rotate-180': openProfileMenu }">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19.2774 15.5303C18.9845 15.8232 18.5096 15.8232 18.2167 15.5303L12.7471 10.0607L7.2774 15.5303C6.98451 15.8232 6.50963 15.8232 6.21674 15.5303C5.92385 15.2374 5.92385 14.7626 6.21674 14.4697L12.2167 8.46967C12.5096 8.17678 12.9845 8.17678 13.2774 8.46967L19.2774 14.4697C19.5703 14.7626 19.5703 15.2374 19.2774 15.5303Z"
                  fill="#005f71" />
              </svg>
              <div class="pl-5">
                Profil
              </div>
              <div class="absolute right-2">
                <img class="rounded-full w-10 h-10 object-cover"
                  [src]="'/assets/img/default-avatar.png'" alt="avatar">
              </div>
            </ion-item>
          </ion-list>
          <div *ngIf="openProfileMenu" class="items-center justify-center flex-col bg-petrol-5 px-4">
            <a *ngFor="let option of profileOptions" (click)="navigate(option.link)"
              class="flex text-petrol-100 h6  py-4 border-t border-solid border-white px-3 cursor-pointer">
              {{option.label}}
            </a>
          </div>
        </ion-content>
      </ion-menu>
    </div>

    <div class="justify-end items-center pr-5 hidden lg:flex">
      <ion-button class="image" id="{{popoverTrigger}}" size="small" color="secondary">
        <div class="flex items-center">
          <div class="justify-start pr-2">
            <svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.5" y1="0.5" x2="12.5" y2="0.5" stroke="white" stroke-linecap="round"
                stroke-linejoin="round" />
              <line y1="4.5" x2="13" y2="4.5" stroke="white" />
              <line y1="8.5" x2="13" y2="8.5" stroke="white" />
            </svg>

          </div>
          <div class="justify-end">
            <img class="rounded-full h-7 w-7 object-cover" [src]="'/assets/img/default-avatar.png'" alt="avatar">
          </div>
        </div>
      </ion-button>
      <ion-popover trigger="{{popoverTrigger}}" animated="false" dismiss-on-select="true" mode="ios" arrow="true">
        <ng-template>
          <ion-content class="rounded-2xl">
            <div class="items-center flex justify-center flex-col">
              <a *ngFor="let option of profileOptions" [routerLink]="option.link" class="px-5">
                <span>{{ option.label }}</span>
              </a>
            </div>
          </ion-content>
        </ng-template>
      </ion-popover>
    </div>
  </div>
</header>