<ion-content class="flex flex-col">
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow w-full lg:max-w-290 px-5 sm:px-8 mx-auto">
      <h1 class="pt-28 pb-6 text-center w-full">
        Registro
      </h1>
      <div class="flex flex-col w-full max-w-xl mx-auto">
        <app-back-button class="pb-5" [locationBack]="true"></app-back-button>      
        
        <form (ngSubmit)="submit()" (keyup.enter)="submit()"
        class="flex flex-col w-full justify-center mb-14 sm:mb-0 items-center">
        <div class="pb-2 w-full">
          <app-input placeholder="Nombre" type="text" [(value)]="firstName" [validate]="validateText"></app-input>
        </div>
        <div class="py-2 w-full">
          <app-input placeholder="Apellidos" type="text" [(value)]="lastName" [validate]="validateText"></app-input>
        </div>
        <div class="py-2 w-full">
          <app-input placeholder="Email" type="email" [(value)]="email" [validate]="validateEmail"></app-input>
        </div>
        <div class="py-2 w-full">
          <app-input placeholder="Contraseña" type="password" [(value)]="password"
            [validate]="validatePassword"></app-input>
        </div>
        <div class="w-full pt-4">
          <ion-button type="submit" color="primary" expand="block"
            [disabled]="(firstName===undefined || validateText(firstName)!=='valid') || (lastName===undefined || validateText(lastName)!=='valid') ||(email===undefined || validateEmail(email)!=='valid') || (password===undefined || validatePassword(password)!=='valid')">Registrarse</ion-button>
          <p class="text-xs w-full flex justify-center pt-2"> ¿Ya tienes cuenta? <span
              class="text-orange pl-1 cursor-pointer" routerLink="/login">¡Inicia sesión aquí!</span></p>
        </div>
      </form>
      </div>

    </div>
  </div>
</ion-content>