<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <ion-icon id="click-trigger" class="fixed right-10 md:right-20 top-20 text-5xl cursor-pointer" name="ellipsis-vertical"></ion-icon>
    <p class="fixed left-10 md:left-20 top-20 text-5xl" *ngIf="showActiveTurn">
      {{activeTurn}}
    </p>
    <div class="flex flex-col text-center grow w-full justify-center mx-auto">
      <div (click)="startClock()" class=" text-9xl text-center flex items-center justify-center h-full w-full cursor-pointer"
      [ngClass]="{'bg-red-700': !shootCountDownStarted,
                  'bg-green-600': (countDownStarted || countDownStopped) && shootCountDownStarted && countDown >= 30,
                  'bg-yellow-600': (countDownStarted || countDownStopped) && shootCountDownStarted && countDown < 30}">
        {{countDown}}
      </div>
    </div>

    <ion-popover trigger="click-trigger" triggerAction="click" side="bottom" alignment="end">
      <ng-template>
        <ion-content class="ion-padding">
          <div class="pb-2 w-full">
            <p>Tiempo</p>
            <app-input placeholder="Tiempo" type="number" [(value)]="userInput" (valueChange)="changeTime()" [disableValidator]="true"></app-input>
          </div>
          <div class="py-2 flex">
            <ion-checkbox color="primary" slot="start" (ionChange)="checkboxTurn()" [value]="doubleTurn"></ion-checkbox>
            <p class="pl-2">Doble turno</p>
          </div>
          <p class="pt-2">Tono inicio</p>
          <ion-list class="p-0 mt-2 rounded-2xl">
            <ion-item class="bg-blue-50 text-nightblue border-0">
              <ion-select [placeholder]="selectedAudioOption.name || 'Selecciona categoría'" [value]="selectedAudioOption"
                (ionChange)="changeStartAudio($event)">
                <ion-select-option *ngFor="let audio of audioOptions"
                  [value]="audio">{{audio.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <p class="pt-4">Tono final</p>
          <ion-list class="p-0 mt-2 rounded-2xl">
            <ion-item class="bg-blue-50 text-nightblue border-0">
              <ion-select [placeholder]="selectedFinishAudioOption.name || 'Selecciona categoría'" [value]="selectedFinishAudioOption"
                (ionChange)="changeEndAudio($event)">
                <ion-select-option *ngFor="let audio of audioOptions"
                  [value]="audio">{{audio.name}}</ion-select-option>
                <ion-select-option *ngFor="let audio of audioFinishOptions"
                  [value]="audio">{{audio.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <p (click)="resetTimer()" class="mt-4 bg-orange-100 w-fit rounded-2xl p-2">
            Reiniciar
          </p>
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
</ion-content>