<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div *ngIf="archers" class="flex flex-col grow text-justify w-full lg:max-w-290 px-5 sm:px-8 justify-center mx-auto">
      <h1 id='start' class="pt-28 pb-6 text-center uppercase">
        Puntuar la competición      
      </h1>
      <app-back-button [link]="'/competicion/detalles/' + competitionModel.id"></app-back-button>
      <div class="fixed z-10 p-1 bottom-4 left-4 flex items-center px-5 bg-clear dark:bg-nightblue border border-solid dark:border-clear border-nightblue-100 rounded-3xl">
        <ion-icon color="primary" class="mr-3 w-8 h-8" name="arrow-back-circle-outline" (click)="changeIndexLeft()"></ion-icon>
        <ion-icon color="primary" class="mr-3 w-8 h-8" name="arrow-forward-circle-outline" (click)="changeIndexRight()"></ion-icon>  
        <p>
          {{selectedArcher.archer.first_name + ' ' + selectedArcher.target_number + selectedArcher.target_letter}}
        </p>          
      </div>
      <div class="w-full flex pt-4 flex-col pb-20">
        <div>
          <h2>
            Torneo: {{competitionModel.title}}
          </h2>
         
          <div class="flex pt-4 items-center"> 
            
            <p class="pr-3">
              Arquero:
            </p>
            <ion-list  class="p-0 rounded-xl mr-3">
              <ion-item
                class="bg-blue-50 text-nightblue rounded-xl border border-solid dark:border-clear border-nightblue-100">
                <ion-select [interface]="mobile ? '' : 'popover'" [placeholder]="selectedArcher.archer.first_name + selectedArcher.archer.last_name"
                  [value]="selectedArcher.archer.user_id" (ionChange)="changeArcher($event)">
                  <ion-select-option *ngFor="let archer of archers" [value]="archer.archer.user_id">{{archer.archer.first_name}} {{archer.archer.last_name}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>            
          </div>
          <p>
            Diana: {{selectedArcher.target_number}}{{selectedArcher.target_letter}}
          </p>
          <p>
            Puntuación total: {{selectedArcher.points}}
          </p>          
        </div>
        <div *ngFor="let archer of archers; let i=index;" class="w-full">
          <app-score [ngClass]="{'hidden': archer.archer.user_id != selectedArcher.archer.user_id}" 
          [competitionId]="competitionModel.id" [archerId]="archer.archer.user_id" [modality]="competitionModel.modality" [category]="archer.category" (emitPoints)="setTotal($event, archer.archer.user_id)"></app-score>
        </div>
      </div>
    </div>
  </div>
  <ion-fab *ngIf="competitionModel" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [href]="'/competicion/puntuar/'+ competitionModel.id + '#start'">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>