<ion-tabs mode="md">
    <ion-tab-bar class="bg-white border-solid border-t border-nightblue-100 dark:border-clear rounded-t-xl fixed bottom-0 left-0 w-full" mode="ios" slot="bottom">
      <ion-tab-button class="flex flex-col items-center" *ngFor="let option of headerOptions" [tab]="option.link">
        <ion-icon color="primary" [name]="option.icon"></ion-icon>
        <ion-label class="text-nightblue-100 dark:text-white" [ngClass]="{'text-orange-100 dark:text-orange-100': isActive(option.link)}">{{ option.label }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>