<ion-content class="flex flex-col">
  <app-header></app-header>
  <div class="w-full md:max-w-xl mx-auto flex flex-col p-4">      
    <h1 class="w-full flex justify-center py-8">
      ¿Olvidaste la contraseña?
    </h1>
    <app-back-button class="px-8" [locationBack]="true"></app-back-button>
    <form (ngSubmit)="submit()" (keyup.enter)="submit()" class="flex flex-col w-full justify-center p-8 items-center">
      <p>
        Introduce tu correo
      </p>
      <div class="py-2 w-full">
        <app-input placeholder="Email" type="email"></app-input>
      </div>
      
      <div class="w-full">
        <ion-button type="submit" color="primary" expand="block">Reiniciar contraseña</ion-button>
      </div>
    </form>
  </div>
</ion-content>