<div (click)="emit()" class="w-full h-full p-2 border cursor-pointer border-solid border-nightblue-100 dark:border-clear-bg text-center text-lg" 
[ngClass]="{'bg-white text-black' : !disableColor && (number == 'M' || number == 1 || number == 2),
'bg-black text-white' : !disableColor && (number == 3 || number == 4),
'bg-blue-500' : !disableColor && (number == 5 || number == 6),'bg-red-500' : !disableColor && (number == 7 || number == 8),
'bg-yellow-500' : !disableColor && (number == 9 || number == 10 || number == 'X')}">
  {{number}}
</div>