ion-searchbar {
    --color: @apply text-nightblue-100;
    --border-radius: 30px;
    --icon-color: @apply text-nightblue-100;
    --placeholder-color: @apply text-nightblue-100;
    --box-shadow: none;
    --placeholder-font-weight: 500;
    --placeholder-opacity: 0.75;
    padding: 0px;
    @apply rounded-3xl  text-left w-full;
     ::ng-deep {
        .searchbar-input-container {
            @apply rounded-3xl;
        }
    }
    input {
        @apply py-3;
    }
}

ion-button {
    --border-radius: 30px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 15px;
    --padding-end: 15px;
    @apply h-7 m-0;
}

ion-button::part(native) {
    @apply p-2;
}

ion-select {
    color: var(--nightblue-100);
    --placeholder-color: var(--nightblue-100);
    opacity: 1;
    --placeholder-opacity: 1;
    width: 100%;
}

ion-item {
    --background-hover: none;
    --background-hover-opacity: 0;
    --border-style: solid;
    --ripple-color: transparent;
    --background: var(--clear-ocean);
}

ion-item::part(native) {
    --border-style: none;
}