<div [hidden]="!record.canary" class="w-full flex pb-2">
  <ion-button  class="m-0 h-5 cursor-default" color="primary" size="small" fill="outline">
    Record de canaria
  </ion-button>
</div>
<div  class="p-3 h-fit rounded-xl border border-solid dark:border-clear border-nightblue-100 w-full">
  <div class="w-full flex justify-between">
      <p>
        Arco {{record.category}}
      </p>
      <p class="mx-1">
        {{record.distance}} metros
      </p>
      <p>
        {{record.points}} puntos
      </p>
  </div>
  <div>
    <div class="pt-4 flex w-full justify-between">
      <p>
        {{record.archer}}
      </p>
      <p class="mx-1">
        {{record.competition}}
      </p>
      <app-date-chip [date]="record.date"></app-date-chip>
    </div>
  </div>
</div>