<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow w-full lg:max-w-290 px-5 sm:px-8 justify-center mx-auto">
      <h1 class="pt-12 text-center uppercase">
        Club deportivo SEO      
      </h1>
      <h3 class="text-center pb-6">
      Tiro con arco en Gran Canaria
      </h3>
      <div class="text-center">
        <swiper class="h-80" [loop]="true" [pagination]="true" [autoplay]="true">
          <ng-template swiperSlide>Iniciate en el tiro con arco</ng-template>
          <ng-template swiperSlide>Hacemos competiciones (pocas)</ng-template>
          <ng-template swiperSlide>Mira que app más guapa</ng-template>
        </swiper>
      </div>
      <div class="py-4">
        <img src="/assets/img/weather.png" alt="">
      </div>
      <div class="text-center">
        <div class="h-40">
          Noticias
        </div>
        <div class="h-40">
          Noticias
        </div>
        <div class="h-40">
          Noticias
        </div>
        <div class="h-40">
          Noticias
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>
