<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow text-justify w-full lg:max-w-290 px-5 sm:px-8 justify-center mx-auto">
      <h1 class="pt-12 text-center uppercase">
        Club deportivo SEO      
      </h1>
      <div class="w-full flex flex-col sm:flex-row pt-4 pb-12">
        
        <div class="w-full">
          <div class="flex flex-col sm:mb-4 sm:flex-row w-full">
            <div class="w-full sm:w-2/3 p-4 mb-4 h-fit border border-solid border-nightblue-80 dark:border-clear rounded-2xl">
              <p class="pb-4">
                El Club SEO realiza su desarrollo principal en la isla de Gran Canaria. Creado para acercar el Tiro con Arco a personas de todas las edades arranca sobre la experiencia más de quince años en sistemas específicos de formación y enseñanza de arqueros.
              </p>
              <p class="pb-4">
                En el SEO puedes encontrar respuesta a todas tus inquietudes y objetivos al contar con el mayor número de monitores de Canarias y el entrenador nacional con más títulos. El equipo humano que dirije el club está volcado en que todos sus miembros disfruten del deporte en un ambiente distendido, organizando las actividades colectivas en ese sentido.
              </p>
              <p class="">
                Comprueba por qué el Tiro con Arco es un deporte que, poco a poco, se abre paso como una alternativa real para el tiempo de ocio.
              </p>
            </div>
            <div class="w-full flex justify-center sm:w-1/3 sm:ml-4 mb-4 h-40 sm:h-fit">
              <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
            </div>
          </div>
          <div class="flex flex-col sm:mb-4 sm:flex-row w-full">
            <div class="w-full hidden sm:flex justify-center sm:w-1/3 sm:mr-4 mb-4 h-40 sm:h-fit">
              <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
            </div>
            <div class="w-full sm:w-2/3 p-4 mb-4 h-fit border border-solid border-nightblue-80 dark:border-clear rounded-2xl">
              <p class="pb-4">
                El Tiro con arco es un deporte que desarrolla en nosotros importantes factores físicos y psicológicos tales como la psicomotricidad, la visualización o la capacidad de concentración.
              </p>
              <p class="pb-4">
                Cuando llevamos cierto tiempo practicando el tiro con arco y este deporte ahonda en nosotros llegamos a incorporar esta disciplina como una forma de terapia personal casi irrenunciable.
              </p>
              <p>
                Tienes que probarlo y comprobar cómo a medida que vas avanzando en el conocimiento del deporte más te enganchas. Entra en un colectivo sano, dinámico y muy entretenido.
              </p>
            </div>
            <div class="w-full sm:hidden flex justify-center sm:w-1/3 sm:mr-4 mb-4 h-40 sm:h-fit">
              <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
            </div>
          </div>
          <div class="flex flex-col sm:mb-4 sm:flex-row w-full">
            <div class="w-full sm:w-2/3 p-4 mb-4 h-fit border border-solid border-nightblue-80 dark:border-clear rounded-2xl">
              <p class="pb-4">
                En el Club Deportivo SEO apostamos por una promoción asequible. Las cuotas del club son de 25 euros mensuales. Esta cuota incluye el uso de todo el material del club que esté disponible los primeros meses y la atención constante por parte de los monitores y/o entrenadores en los horarios establecidos.
              </p>
              <p>
                Anímate y ven a probar, el primer día no hay ningún coste. Conócenos, conoce nuestro club, prueba el tiro con arco y después decide :).
              </p>
            </div>
            <div class="w-full flex justify-center sm:w-1/3 sm:ml-4 mb-4 h-40 sm:h-fit">
              <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
            </div>
          </div>
          <div class="flex flex-col sm:mb-4 sm:flex-row w-full">
            <div class="w-full hidden sm:flex justify-center sm:w-1/3 sm:mr-4 mb-4 h-40 sm:h-fit">
              <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
            </div>
            <p class="w-full sm:w-2/3 p-4 mb-4 h-fit border border-solid border-nightblue-80 dark:border-clear rounded-2xl"> Estamos aquí e introduzco un enlace</p>
          </div>
          <div class="w-full sm:hidden flex justify-center sm:w-1/3 sm:mr-4 mb-4 h-40 sm:h-fit">
            <img src="/assets/img/logo_grande.jpg" class="rounded-2xl object-cover h-40 sm:h-fit" alt="">
          </div>
        </div>
      </div>
      
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>
