<div
  class="flex flex-col text-left rounded-xl shadow-none w-full max-h-fit p-3 border border-solid border-nightblue-80 bg-blue-50">
  <div class="flex justify-between pb-2 sm:pb-2 border-b border-solid border-clear">
    <div class="text-nightblue-100 ">
      {{training.title}}
    </div>
    <div class="text-nightblue-100">
      {{training.modality}}
    </div>
  </div>
  <div class="flex py-2 justify-between border-b border-solid border-clear">
    <div class="text-nightblue-100">
      {{training.distance}} metros
    </div>
    <div class="text-nightblue-100">
      {{training.category}}
    </div>
  </div>
  <div *ngIf="training.points" class="flex py-2 justify-between border-b border-solid border-clear">
    <div class=" text-nightblue-100">
      {{training.points}} puntos
    </div>
  </div>
  <div *ngIf="!training.points" class="flex py-2 justify-between border-b border-solid border-clear">
    <div class=" text-nightblue-100">
      Pendiente de rellenar
    </div>    
    <div class="text-nightblue-100">
      {{parseDateFormat(training.date)}}
    </div>
  </div>
  <div class="flex pt-2 justify-between ">

    <ion-button [routerLink]="'/entrenamientos/puntuar/' + training.id" class="m-0 h-5" color="primary" size="small" fill="outline">
      Rellenar
    </ion-button>
    <ion-button (click)="showModal()" class="m-0 h-5" color="primary" size="small" fill="outline">
      Eliminar
    </ion-button>
  </div>
</div>