
<div class="flex flex-col text-left rounded-xl shadow-none cursor-pointer w-full max-h-fit p-3 bg-nightblue-50 dark:bg-clear-bg">
  <div class="flex justify-between pb-4 sm:pb-2">
    <div class="text-nightblue-100 ">
      {{recordName}}
    </div>  
    <div class="text-nightblue-100 ">
      {{distance}} metros
    </div>  
    <div class="text-nightblue-100 ">
      {{points}} puntos
    </div>
  </div>
  <div class="flex justify-between">
    <div class=" text-nightblue-100 ">
      {{type}}
    </div>
    <div class="text-nightblue-100 ">
      {{date}}
    </div>
  </div>
</div>