<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow w-full lg:max-w-290 px-5 sm:px-8 mx-auto" [ngClass]="{'pb-14' : mobile}">
      <h1 class="pb-6 text-center uppercase" [ngClass]="{'pt-28' : !mobile, 'pt-8': mobile}">
        Iniciación
      </h1>
      <div class="flex flex-col sm:mb-4 sm:flex-row w-full">
        <div class="w-full sm:w-2/3">
          <h3 class="pb-4">
            La experiencia
          </h3>
          <div class="p-4 text-justify border border-solid border-nightblue-80 dark:border-clear rounded-3xl">
            <p class="mb-2">
              En tu primer día de iniciación estarás acompañado en todo momento por un monitor para guiarte en tus
              primeros pasos.
            </p>
            <p class="mb-2">
              Te iniciaremos en la categoría de arco olímpico, pero te daremos a conocer todas las que existen dentro
              del
              tiro con arco y, después de un tiempo, podrás decidir a cual de ellas te dedicas.
            </p>
            <p class="mb-2">
              El primer día es gratis. Una vez lo hayas completado, podrás decidir si apuntarte al club y seguir
              asistiendo en nuestro horario normal (Lunes-Miercoles-Viernes de 17:30 a 20:30, Sábados de 11:00 a 14:00).
            </p>
            <p class="mb-2">
              La cuota mensual es de 25€ y tendrás total acceso al material del club. Podrás venir en cualquier momento
              de nuestro horario y habrá un monitor que te guiará y resolverá tus dudas.
            </p>
            <p class="mb-2">
              Si estás interesado, inscribite en este <a target="_blank" href="https://forms.gle/JKG7T916Qe5KtNPG9"
                class="underline text-orange cursor-pointer">formulario</a> para entrar en la lista de espera del club.
              Cuando tengamos un día disponible te lo notificaremos.
            </p>
            <p>
              Una vez ya hayas probado, deberás rellenar la ficha con tus datos en este <a target="_blank"
                href="https://seotiroconarco.playoffinformatica.com/Preinscripcion.php"
                class="cursor-pointer">enlace</a>.
            </p>
          </div>
        </div>
        <div class="w-full flex justify-center sm:w-1/3 sm:ml-4 mb-4 h-full">
          <img src="/assets/img/joel.jpeg" alt="" class="rounded-2xl object-cover h-full">
        </div>
      </div>
      <h3 class="pb-12 pt-6 text-center uppercase">
        ¡Te esperamos!
      </h3>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>