<ion-content>
  <div class="flex flex-col h-full">
    <app-header></app-header>
    <div class="flex flex-col grow w-full lg:max-w-290 px-5 sm:px-8 mx-auto" [ngClass]="{'pb-14' : mobile}">
      <h1 class="pb-6 text-center uppercase" [ngClass]="{'pt-28' : !mobile, 'pt-8': mobile}">
        Competiciones  
      </h1>
      <div class="mb-5 sm:mb-8">
        <ion-searchbar search-icon="search-outline" [(ngModel)]="searchKeyword" (ionChange)="search()" name="searchKeyword" placeholder="Buscar una competición">
        </ion-searchbar>
      </div>
      <div class="relative w-full mb-8 rounded-3xl border border-solid border-white p-4">
        <h3 class="pb-4" *ngIf="searchKeyword == ''">
          Todas las competiticiones
        </h3>
        <div *ngIf="searchKeyword != ''" class="flex flex-col sm:flex-row sm:justify-between mb-4 sm:pb-0">
          <h3 class="pb-4 sm:pb-0">
            Competiticiones para la busqueda de {{searchKeyword}}
          </h3>
          <ion-button color="primary" class="h-7 lg:pr-2 xl:pr-3" (click)="searchKeyword = '';">
            Reiniciar busqueda
        </ion-button>          
        </div>
        <h3 *ngIf="todayResults.length > 0" class="pt-4">Competiciones hoy</h3>  
        <div class="pt-4 grid grid-cols-1 lg:grid-cols-3 gap-4 ">
          <div *ngFor="let competition of todayResults">
            <app-competition-card [date]="competition.date" [description]="competition.description" 
            [id]="competition.id" [modality]="competition.modality" [title]="competition.title" [image]="competition.image"></app-competition-card>
          </div>
        </div> 

        <h3 *ngIf="results.length > 0" class="pt-4">Competiciones futuras</h3>  
        <div class="pt-4 grid grid-cols-1 lg:grid-cols-3 gap-4 ">
          <div *ngFor="let competition of results">
            <app-competition-card [date]="competition.date" [description]="competition.description" 
            [id]="competition.id" [modality]="competition.modality" [title]="competition.title" [image]="competition.image"></app-competition-card>
          </div>
        </div> 
        <h3 *ngIf="pastResults.length > 0" class="pt-4">Competiciones pasadas</h3>  
        <div class="pt-4 grid grid-cols-1 lg:grid-cols-3 gap-4">
          <div *ngFor="let competition of pastResults">
            <app-competition-card [date]="competition.date" [description]="competition.description" 
            [id]="competition.id" [modality]="competition.modality" [title]="competition.title" [image]="competition.image"></app-competition-card>
          </div>
        </div>            
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</ion-content>