/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import 'swiper/scss';
@import '@ionic/angular/css/ionic-swiper';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';

h1,
h2,
h3,
h4,
p,
div {
    @apply text-nightblue dark:text-clear
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.default-gradient {
    background: linear-gradient(129.17deg, #ff9b54 0%, #fc7e23 100%);
}

.inverse-gradient {
    background: linear-gradient(129.17deg, #fc7e23 0%, #ff9b54 100%);

    @media (prefers-color-scheme: dark) {
        background: linear-gradient(129.17deg, #3c1e11 0%, #dd6b1a 35%, #963f00 100%);
    }
}

ion-button {
    --box-shadow: none;
    --border-radius: 16px;
    @apply font-medium h-auto normal-case tracking-normal;
    --border-width: 2px;
    --border-style: solid;
    --border-color: transparent;

    &::part(native) {
        @apply px-5 py-4;
    }

    &.button-small {
        --border-radius: 30px;

        &::part(native) {
            @apply px-3 py-2;
        }
    }
}


.web-modal {
    & {
        @apply flex items-center justify-center h-full;
    }

    &::part(content) {
        --max-width: 335px;
        -webkit-transform: none !important;
        transform: none !important;
        @apply relative flex items-center justify-center h-auto rounded-3xl pt-5 pb-10 px-5 m-0;

        @screen md {
            --max-width: 480px;
        }

        @screen lg {
            --max-width: 500px;
        }
    }

    &::part(handle) {
        @apply hidden;
    }

    &.auto-height {
        &.bottom {
            @apply items-end;
        }

        --height: auto;

        .ion-page {
            contain: content;
            @apply relative block;

            .inner-content {
                max-height: 80vh;
                @apply overflow-auto p-2.5;
            }
        }
    }

    ion-content {
        --background: var(--ion-background-color);
    }
    ion-toolbar{
        --background: var(--ion-background-color);
    }
}

@screen sm {
    .web-modal {
        &::part(content) {
            @apply p-5 my-0 mx-5;
        }
    }
}

ion-content {
    --background: var(--clear);
}

.sheet-modal {
    &::part(content) {
        --border-radius: 32px;
        --max-width: calc(100% - 32px);
        @apply h-auto;
    }

    &.show-modal {
        @apply flex items-end justify-center h-full;
    }

    &::part(content) {
        --max-width: none;
        -webkit-transform: none !important;
        transform: none !important;
        @apply relative flex items-center justify-center h-auto rounded-t-3xl rounded-b-none p-0 pb-10 m-0;
    }

    &::part(handle) {
        @apply hidden;
    }

    &.auto-height {
        &.bottom {
            @apply items-end;
        }

        --height: auto;

        .ion-page {
            contain: content;
            @apply relative block;

            .inner-content {
                max-height: 80vh;
                @apply overflow-auto p-2.5;
            }
        }
    }
    ion-content {
        --background: var(--ion-background-color);
    }
    ion-toolbar{
        --background: var(--ion-background-color);
    }
}

ion-header {
    &::after {
        @apply hidden
    }
}

h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl
}

h3 {
    @apply text-xl
}

h4 {
    @apply text-xs uppercase
}

p {
    @apply text-base
}

div {
    @apply text-sm
}